

@font-face {
    font-family: "Pretendard-Regular";
    src: url("fonts/Pretendard-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Cafe24Ssurround";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff");
}
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* -----------------------------------------------------------------------
상단바
----------------------------------------------------------------------- */
#상단바 {
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.788);
    z-index: 10000;
}
#logo {
    left: 10px;
}
#링크바 {
    display: flex;
    position: absolute;
    bottom: 22px;
    left:  170px;
    padding-right: 10px;
    
}
#링크바 p {
    margin: 0 10px;
}
#링크바 a {
    color: #ffffff;
}
#링크바 a:link {
    text-decoration: none;
}
#링크바 a:hover {
    text-decoration: underline;
    color: rgb(59, 150, 255);
}


/* -----------------------------------------------------------------------
본문 영역
----------------------------------------------------------------------- */

#main-container {
    position: relative;
    width: 80%;
    margin: 0 auto; 
    margin-top: 110px;
    margin-bottom: 60px;
}
#title {
    font-family: "Cafe24Ssurround";
    font-size: 50px;
    text-align: center;
}
#main-container > iframe {
    position: relative;
    width: 64vw;
    height: 36vw;
    left: 50%;
    transform: translateX(-50%);
}



.box1 {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    
    
}
.box1 > img {
    position: relative;
    width: 35%;
    height: 35%;
    bottom: 40px;
}
.box1-2 {
    width: 60%;
    height: 90%;
    margin-left: 40px;
    font-family: 'OAGothic-ExtraBold';
    font-size: 27px;
    border-radius: 60px;
    padding: 50px;
    background-color: rgba(218, 218, 218, 0.822);
}




#로고2 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #eeeeee;
}

#하단바{
    margin-top: 200px;
    width: 100%;
    background-color: black;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    #상단바 {
        height: 125px;
    }
    
    #링크바 {
        font-size: 30px;
    }
    #title {
        font-size: 24px;
    }
    
    .box1{
        flex-direction: column;
        width: 650px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
        
    }

    .box1-2 {
        font-size: 25px;
        margin-left: 0%;
        height: 800px;
        width: 560px;
       }

    .box1 > img {
        width: 576px;
        height: 1024px;
        bottom: 40px;
        margin-left: 6%;
    }


    #title {
        font-size: 30px;
    }

  
}